In [7]:
# instalando a biblioteca pandas
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\dsadm\appdata\roaming\python\python313\site-packages (2.3.1)
Requirement already satisfied: numpy>=1.26.0 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.3.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python313\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
# importando a biblioteca pandas
import pandas as pd

In [9]:
# criando um dicionário
Dicionario = {
    'A': [1,2,3],
    'B': [-3,-2,-1],
    'C': [0,10,20]
}
Label = ['1ª Linha', '2ª Linha', '3ª Linha']
Dataframe_01= pd.DataFrame(Dicionario, index=Label)
print(Dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [10]:
# exibindo as colunas A e B
Dataframe_01[['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [10]:
# criando uma coluna nova no Dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A'] *Dataframe_01['B']

In [11]:
Dataframe_01 # exibir o dataframe

          A  B   C  Nova coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [13]:
# exibindo valores na saída da célula do notebook
a =6
print(a)
Dataframe_01

6

          A  B   C  Nova coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [21]:
# excluindo uma coluna do Dataframe
# drop exclui uma linha ou coluna do Dataframe
Dataframe_01.drop('Nova coluna',axis =1) # exclui a nova coluna do Dataframe 1

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [25]:
# excluindo uma coluna definitivamente do Dataframe
Dataframe_01.drop('Nova coluna', axis =1, inplace=True)

In [26]:
# localizando uma linha do Dataframe utilizando o comando Loc
Dataframe_01.loc['1ª Linha']

A    1
B   -3
C    0
Name: 1ª Linha, dtype: int64

In [27]:
Dataframe_01.loc['2ª Linha']

A     2
B    -2
C    10
Name: 2ª Linha, dtype: int64

In [28]:
Dataframe_01.loc['3ª Linha']

A     3
B    -1
C    20
Name: 3ª Linha, dtype: int64

In [30]:
# localizando diversas linhas e colunas
Dataframe_01.loc[['1ª Linha', '2ª Linha'],['A', 'C']] # nome da linha e nome da coluna

          A   C
1ª Linha  1   0
2ª Linha  2  10

In [31]:
# localizando a linha e a coluna prlo indice
Dataframe_01.iloc[2:3,1:] # linha, coluna

          B   C
3ª Linha -1  20

In [32]:
Dataframe_01.iloc[0:4,1:] # linha, coluna

          B   C
1ª Linha -3   0
2ª Linha -2  10
3ª Linha -1  20

In [33]:
# verificando as condições no DataFrame
print(Dataframe_01)
Dataframe_01 >0

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

             A      B      C
1ª Linha  True  False  False
2ª Linha  True  False   True
3ª Linha  True  False   True

In [34]:
# criando filtro no Dataframe
Filtro = Dataframe_01['C'] >0 # armazena em filtro a resposta da verificação
Dataframe_02 = Dataframe_01[Filtro] # cria um novo DataFrame
Dataframe_02 ['A']

2ª Linha    2
3ª Linha    3
Name: A, dtype: int64

In [35]:
Filtro

1ª Linha    False
2ª Linha     True
3ª Linha     True
Name: C, dtype: bool

In [ ]:
# cria um filtro utilizando a condição or
Dataframe_01 [(Dataframe_01['A']>1) & (Dataframe_01['C']>0)]

          A  B   C
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [12]:
# resetando o index do Dataframe
Dataframe_01.reset_index(inplace=True)

In [13]:
Dataframe_01

      index  A  B   C  Nova coluna
0  1ª Linha  1 -3   0           -3
1  2ª Linha  2 -2  10           -4
2  3ª Linha  3 -1  20           -3

In [14]:
Dataframe_01.drop('index', axis=1, inplace=True) # exclui coluna index

In [15]:
Dataframe_01

   A  B   C  Nova coluna
0  1 -3   0           -3
1  2 -2  10           -4
2  3 -1  20           -3

In [17]:
# criando varios dicionários
Dicionario_01 ={
    'A':[1,2,3],
    'B':[-32,-21,-15],
    'C':[60,10,20],
    'Chave':['AA','BB','CC']
}

# dicionário 2
Dicionario_02 ={
    'A':[6,7,8],
    'B':[-39,-28,-17],
    'C':[1000,10,60],
    'Chave':['AA','BB','CC']
}

# dicionário 3
Dicionario_03 ={
    'A':[11,12,13],
    'B':[-39,-22,-11],
    'C':[30,10,20],
    'Chave':['AA','BB','CC']
}

# criando as listas para serem os labels
Label_01 = ['1ª Linha','2ª Linha','3ª Linha']
Label_02 = ['4ª Linha','5ª Linha','6ª Linha']
Label_03 = ['7ª Linha','8ª Linha','9ª Linha']

# Criando os DataFrames
Dataframe_01n = pd.DataFrame(Dicionario_01, index=Label_01)
Dataframe_02n = pd.DataFrame(Dicionario_02, index=Label_02)
Dataframe_03n = pd.DataFrame(Dicionario_03, index=Label_03)

In [20]:
Dataframe_01n

          A   B   C Chave
1ª Linha  1 -32  60    AA
2ª Linha  2 -21  10    BB
3ª Linha  3 -15  20    CC

In [21]:
Dataframe_02n

          A   B     C Chave
4ª Linha  6 -39  1000    AA
5ª Linha  7 -28    10    BB
6ª Linha  8 -17    60    CC

In [22]:
Dataframe_03n

           A   B   C Chave
7ª Linha  11 -39  30    AA
8ª Linha  12 -22  10    BB
9ª Linha  13 -11  20    CC

In [23]:
# empilhando os DataFrames 1,2 e 3
pd.concat([Dataframe_01n, Dataframe_02n, Dataframe_03n])

           A   B     C Chave
1ª Linha   1 -32    60    AA
2ª Linha   2 -21    10    BB
3ª Linha   3 -15    20    CC
4ª Linha   6 -39  1000    AA
5ª Linha   7 -28    10    BB
6ª Linha   8 -17    60    CC
7ª Linha  11 -39    30    AA
8ª Linha  12 -22    10    BB
9ª Linha  13 -11    20    CC