In [ ]:
# instalando a biblioteca pandas
!pip install pandas

In [ ]:
# importando a biblioteca pandas
import pandas as pd

In [8]:
# criando um dicionário
Dicionario = {
    'A': [1,2,3],
    'B': [-3,-2,-1],
    'C': [0,10,20]
}
Label = ['1ª Linha', '2ª Linha', '3ª Linha']
Dataframe_01= pd.DataFrame(Dicionario, index=Label)
print(Dataframe_01)

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [10]:
# exibindo as colunas A e B
Dataframe_01[['A','B']]

          A  B
1ª Linha  1 -3
2ª Linha  2 -2
3ª Linha  3 -1

In [23]:
# criando uma coluna nova no Dataframe
Dataframe_01['Nova coluna'] = Dataframe_01['A'] *Dataframe_01['B']

In [12]:
Dataframe_01 # exibir o dataframe

          A  B   C  Nova coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [13]:
# exibindo valores na saída da célula do notebook
a =6
print(a)
Dataframe_01

6

          A  B   C  Nova coluna
1ª Linha  1 -3   0           -3
2ª Linha  2 -2  10           -4
3ª Linha  3 -1  20           -3

In [21]:
# excluindo uma coluna do Dataframe
# drop exclui uma linha ou coluna do Dataframe
Dataframe_01.drop('Nova coluna',axis =1) # exclui a nova coluna do Dataframe 1

          A  B   C
1ª Linha  1 -3   0
2ª Linha  2 -2  10
3ª Linha  3 -1  20

In [25]:
# excluindo uma coluna definitivamente do Dataframe
Dataframe_01.drop('Nova coluna', axis =1, inplace=True)

In [26]:
# localizando uma linha do Dataframe utilizando o comando Loc
Dataframe_01.loc['1ª Linha']

A    1
B   -3
C    0
Name: 1ª Linha, dtype: int64

In [27]:
Dataframe_01.loc['2ª Linha']

A     2
B    -2
C    10
Name: 2ª Linha, dtype: int64

In [28]:
Dataframe_01.loc['3ª Linha']

A     3
B    -1
C    20
Name: 3ª Linha, dtype: int64

In [30]:
# localizando diversas linhas e colunas
Dataframe_01.loc[['1ª Linha', '2ª Linha'],['A', 'C']] # nome da linha e nome da coluna

          A   C
1ª Linha  1   0
2ª Linha  2  10

In [31]:
# localizando a linha e a coluna prlo indice
Dataframe_01.iloc[2:3,1:] # linha, coluna

          B   C
3ª Linha -1  20

In [32]:
Dataframe_01.iloc[0:4,1:] # linha, coluna

          B   C
1ª Linha -3   0
2ª Linha -2  10
3ª Linha -1  20